.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


.press {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.tweetButton {
    width: 80px;
    height: 35px;
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 20px;

    font-size: 14px;
    font-weight: bold;
}